{% comment %}
Snippet Arguments
- collection: Liquid 'collection' or 'search' object
- items: Paginated 'collection.products' or 'search.results' list. Cannot be pulled from the the 'collection' object passed in above
- enable_sidebar: boolean
- filter_style: 'sidebar' or 'drawer'
- enable_sort: boolean
- enable_collection_count
- per_row
- mobile_flush_grid
- quick_shop_enable
{% endcomment %}

{% liquid
  if collection.products
    assign count = collection.products_count
    assign count_label = 'collections.general.items_with_count'
  endif

  assign per_row = 4

  if collection.results
    assign count = collection.results_count
    assign count_label = 'general.search.result_count'
  endif

  assign filters = collection.filters
  assign sort_by = collection.sort_by
  assign default_sort_by = collection.default_sort_by
  assign sort_options = collection.sort_options
  assign current_filter_size = 0

  for filter in filters
    assign current_filter_size = current_filter_size | plus: filter.active_values.size
  endfor
%}

<div class="collection-grid__wrapper">
  <div class="collection-filter">
    <div class="collection-filter__item collection-filter__item--drawer">
      <button
        type="button"
        class="js-drawer-open-collection-filters btn btn--tertiary{% unless current_filter_size == 0 %} btn--tertiary-active{% endunless %}"
        aria-controls="FilterDrawer">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter" viewBox="0 0 64 64"><path d="M48 42h10M48 42a5 5 0 1 1-5-5 5 5 0 0 1 5 5zM7 42h31M16 22H6M16 22a5 5 0 1 1 5 5 5 5 0 0 1-5-5zM57 22H26"/></svg>
          {{ 'collections.filters.title_tags' | t }}
          {%- if current_filter_size > 0 -%}
              ({{ current_filter_size }})
          {%- endif -%}
      </button>
    </div>

    <div class="collection-filter__item collection-filter__item--count small--hide">
      {%- if enable_collection_count -%}
        {{ count_label | t: count: count }}
      {%- endif -%}
    </div>

    <div class="collection-filter__item collection-filter__item--sort">
        <div class="collection-filter__sort-container">
        {%- assign sort_by = sort_by | default: default_sort_by -%}
        <label for="SortBy" class="hidden-label">{{ 'collections.sorting.title' | t }}</label>
        <select name="SortBy" id="SortBy" data-default-sortby="{{ default_sort_by }}">
          <option value="title-ascending"{% if sort_by == default_sort_by %} selected="selected"{% endif %}>{{ 'collections.sorting.title' | t }}</option>
          {%- for option in sort_options -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: option %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

            {% unless option.value == 'best-selling' %}
              <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name }}</option>
            {% endunless %}
          {%- endfor -%}
        </select>
        </div>
    </div>
  </div>

  <div class="grid flexGrid grid--uniform{% if mobile_flush_grid %} small--grid--flush{% endif %}"{% unless enable_collection_count %} data-scroll-to{% endunless %}>
    {%- for item in items -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: item %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

      {%- if item.object_type == 'product' -%}
        {%- render 'product-grid-item',
          product: item,
          per_row: per_row,
          quick_shop_enable: quick_shop_enable
        -%}



{% if forloop.index == 12 or forloop.index == 92 or forloop.index == 172 or forloop.index == 252 or forloop.index == 332 or forloop.index == 412 %}
{% if collection.metafields.custom.grid_insert_image_1 != blank %}
<div class="grid__item grid-product medium-up--one-half small--one-whole gridInsert" data-aos="row-of-{{ per_row }}">
<a href="{{ collection.metafields.custom.grid_insert_link_1 }}" class="insertLink">
  <div class="insertImg" style="background-image:url({{ collection.metafields.custom.grid_insert_image_1.value | img_url: '1200x1200' }});"></div>
</a>
</div>
{% endif %}
{% endif %}

{% if forloop.index == 24 or forloop.index == 104 or forloop.index == 184 or forloop.index == 264 or forloop.index == 344 or forloop.index == 424 %}
{% if collection.metafields.custom.grid_insert_image_2 != blank %}
<div class="grid__item grid-product medium-up--one-half small--one-whole gridInsert" data-aos="row-of-{{ per_row }}">
<a href="{{ collection.metafields.custom.grid_insert_link_2 }}" class="insertLink">
  <div class="insertImg" style="background-image:url({{ collection.metafields.custom.grid_insert_image_2.value | img_url: '1200x1200' }});"></div>
</a>
</div>
{% endif %}
{% endif %}

{% if forloop.index == 36 or forloop.index == 116 or forloop.index == 196 or forloop.index == 276 or forloop.index == 356 or forloop.index == 436 %}
{% if collection.metafields.custom.grid_insert_image_3 != blank %}
<div class="grid__item grid-product medium-up--one-half small--one-whole gridInsert" data-aos="row-of-{{ per_row }}">
<a href="{{ collection.metafields.custom.grid_insert_link_3 }}" class="insertLink">
  <div class="insertImg" style="background-image:url({{ collection.metafields.custom.grid_insert_image_3.value | img_url: '1200x1200' }});"></div>
</a>
</div>
{% endif %}
{% endif %}

{% if forloop.index == 48 or forloop.index == 128 or forloop.index == 208 or forloop.index == 288 or forloop.index == 368 or forloop.index == 448 %}
{% if collection.metafields.custom.grid_insert_image_4 != blank %}
<div class="grid__item grid-product medium-up--one-half small--one-whole gridInsert" data-aos="row-of-{{ per_row }}">
<a href="{{ collection.metafields.custom.grid_insert_link_4 }}" class="insertLink">
  <div class="insertImg" style="background-image:url({{ collection.metafields.custom.grid_insert_image_4.value | img_url: '1200x1200' }});"></div>
</a>
</div>
{% endif %}
{% endif %}

{% if forloop.index == 60 or forloop.index == 140 or forloop.index == 220 or forloop.index == 300 or forloop.index == 380 or forloop.index == 460 %}
{% if collection.metafields.custom.grid_insert_image_5 != blank %}
<div class="grid__item grid-product medium-up--one-half small--one-whole gridInsert" data-aos="row-of-{{ per_row }}">
<a href="{{ collection.metafields.custom.grid_insert_link_5 }}" class="insertLink">
  <div class="insertImg" style="background-image:url({{ collection.metafields.custom.grid_insert_image_5.value | img_url: '1200x1200' }});"></div>
</a>
</div>
{% endif %}
{% endif %}

{% if forloop.index == 72 or forloop.index == 152 or forloop.index == 232 or forloop.index == 312 or forloop.index == 392 or forloop.index == 472 %}
{% if collection.metafields.custom.grid_insert_image_6 != blank %}
<div class="grid__item grid-product medium-up--one-half small--one-whole gridInsert" data-aos="row-of-{{ per_row }}">
<a href="{{ collection.metafields.custom.grid_insert_link_6 }}" class="insertLink">
  <div class="insertImg" style="background-image:url({{ collection.metafields.custom.grid_insert_image_6.value | img_url: '1200x1200' }});"></div>
</a>
</div>
{% endif %}
{% endif %}
  

    
      {%- else -%}
        {%- render 'search-grid-item',
          item: item,
          per_row: per_row
        %}
        
{% render 'product-grid-promo' %}
    
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>

{%- if enable_sidebar and filter_style != 'drawer' and collection.filters.size > 0 -%}
{% comment %}
  Sidebar enabled but not in drawer mode, only show filter button on mobile
{% endcomment %}
{% style %}
@media screen and (min-width: 769px) {
  .collection-filter__item--drawer {
    display: none;
  }
  .collection-filter__item--count {
    text-align: left;
  }
  html[dir="rtl"] .collection-filter__item--count {
    text-align: right;
  }
}
{% endstyle %}
{%- endif -%}

{%- if enable_sidebar == false or collection.filters.size == 0 -%}
{% comment %}
    Disable sidebar & filter features
{% endcomment %}
{% style %}
.collection-filter__item--drawer {
  display: none;
}
.collection-filter__item--count {
  text-align: left;
}
html[dir="rtl"] .collection-filter__item--count {
  text-align: right;
}
{% endstyle %}
{%- endif -%}

{%- unless enable_sort -%}
{% style %}
.collection-filter__sort-container {
  display: none;
}
{% endstyle %}
{%- endunless -%}