{%- style -%}

#textImg-{{ section.id }}.spaceAbove {
padding-top: {{ section.settings.topSpacing }}px;
}
#textImg-{{ section.id }}.spaceBelow {
padding-bottom: {{ section.settings.bottomSpacing }}px;
}
    
.class-{{ section.id }}.spaceRight {
  margin-right: {{ section.settings.rightSpacing }}px;
}

.class-{{ section.id }}.images_container_width {
  max-width: {{ section.settings.dual_image_width }}px;
}

#textImg-{{ section.id }} .btn--inverse, #textImg-{{ section.id }} .btn--inverse:hover {
    color: #fff;
    border: none;
}

@media only screen and (max-width:768px){
     
#textImg-{{ section.id }}.spaceAbove {
padding-top: {{ section.settings.topSpacing | times:'0.5' }}px;
}
#textImg-{{ section.id }}.spaceBelow {
padding-bottom: {{ section.settings.bottomSpacing | times:'0.5' }}px;
}
}
  
{%- endstyle -%}
 

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign overlap_images = true
  if section.settings.image != blank and section.settings.image2 == blank
    assign overlap_images = false
  endif
-%}

<div id="textImg-{{ section.id }}" style="background-color: {{ section.settings.bgColor }}"
  class="index-section {% if section.settings.space_above %} spaceAbove{% endif %}{% if section.settings.space_below %} spaceBelow{% endif %}" >

  <div class="page-width feature-row-wrapper">
    {%- capture image_layout -%}
      <div class="feature-row__item{% if overlap_images %} feature-row__item--overlap-images{% endif %}" style="max-width: {{ section.settings.image_width }}px" data-aos>
          {%- if section.settings.image != blank -%}
            <div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap {%- if section.settings.imageMobile != blank -%}medium-up--show small--hide{%- endif -%}" 
            style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload nick1"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image.alt }}">
                </div>

           {%- if section.settings.imageMobile != blank -%}
                <div class="image-wrap small--show medium-up--hide" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.imageMobile.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.imageMobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload nick2"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.imageMobile.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.imageMobile.alt }}">
                </div>
                {%- endif -%}
                
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          
      </div>
    {%- endcapture -%}

    <div class="feature-row">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <div class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" 
          {% if section.settings.color_accent != blank %} style="background-color: {{ section.settings.color_accent }};"{% endif %}
              class="btn{% if section.settings.color_accent contains '#26241e' %} btn--inverse{% endif %}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
      
    </div>

    {%- if section.settings.floatImage1 != blank -%}
      
          <div class="floatImagesWrap aos-animate clearfix">
            <div class="floatImgWrap class-{{ section.id }} {% if section.settings.space_right %} spaceRight{% endif %} {% if section.settings.dual_image_width %}images_container_width{% endif %}">
              
{%- if section.settings.floatImage1 != blank -%}
<div class="floatImg1">
  <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.floatImage1.aspect_ratio }}%;">
    {%- assign img_url = section.settings.floatImage1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="feature-row__image lazyload nick3"
      data-src="{{ img_url }}"
      data-widths="[900, 1080]"
      data-aspectratio="{{ section.settings.floatImage1.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ section.settings.floatImage1.alt }}">
  </div>          
</div>
{%- endif -%}

  {%- if section.settings.floatImage2 != blank -%}
<div class="floatImg2">
  <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.floatImage2.aspect_ratio }}%;">
    {%- assign img_url = section.settings.floatImage2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="feature-row__image lazyload nick4"
      data-src="{{ img_url }}"
      data-widths="[900, 1080]"
      data-aspectratio="{{ section.settings.floatImage2.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ section.settings.floatImage2.alt }}">
  </div>          
</div>
{%- endif -%}
          
</div>
</div>

{% endif %}

    
  </div>





  

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "t:sections.text-and-image.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.text-and-image.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "imageMobile",
      "label": "Mobile Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "t:sections.text-and-image.settings.image_width.label",
      "default": 450,
      "min": 100,
      "max": 700,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.text-and-image.settings.subtitle.label"
    },
    {
      "type": "html",
      "id": "title",
      "label": "t:sections.text-and-image.settings.title.label",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.text-and-image.settings.text.label",
      "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.text-and-image.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.text-and-image.settings.button_link.label"
    },
    {
      "type": "color",
    "id": "color_accent",
      "label": "Button Color"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.text-and-image.settings.align_text.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-image.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text-and-image.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-image.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.text-and-image.settings.layout.label",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-and-image.settings.layout.options.left.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-and-image.settings.layout.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.text-and-image.settings.divider.label",
      "default": false
    },
        {
      "type": "image_picker",
      "id": "floatImage1",
      "label": "Float Image 1"
    },
     {
      "type": "image_picker",
      "id": "floatImage2",
      "label": "Float Image 2"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color"
    },
    {
      "type": "range",
      "id": "topSpacing",
      "label": "Top Spacing",
      "default": 75,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "space_above",
      "label": "Apply Top Spacing",
       "default": true
    },
     {
      "type": "range",
      "id": "bottomSpacing",
      "label": "Bottom Spacing",
      "default": 75,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "space_below",
      "label": "Apply Bottom Spacing",
      "default": true
    },
    {
      "type": "range",
      "id": "rightSpacing",
      "label": "Right Spacing",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "space_right",
      "label": "Apply Right Spacing",
      "default": true
    },
    {
        "type": "range",
        "id": "dual_image_width",
        "label": "Lower Image Container Width",
        "default": 550,
        "min": 250,
        "max": 750,
        "step": 5,
        "unit": "px"
      }
  ],
  "presets": [
    {
      "name": "t:sections.text-and-image.presets.image_with_text.name"
    }
  ]
}
{% endschema %}
